[user]
    name = Vikram Sreekanti
    email = vsreekanti@gmail.com
[credential]
    helper = osxkeychain
[core] 
    excludesfile = /Users/vikram/.git-user-excludes
    editor = vim
[color]
    ui = true
[push]
    default = matching
